In [1]:
# Import libraries
import sqlite3
import pandas as pd

In [2]:
# Clone repositories
!git clone https://github.com/Qwork-Intel/DA-Assignment-2024.git

Cloning into 'DA-Assignment-2024'...
remote: Enumerating objects: 5, done.
remote: Counting objects: 100% (5/5), done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 5 (delta 0), reused 5 (delta 0), pack-reused 0
Receiving objects: 100% (5/5), 10.45 MiB | 15.00 MiB/s, done.

In [3]:
# Connect to database
con = sqlite3.connect('/content/DA-Assignment-2024/jobdb.sqlite') # path to sqlite extension

df = pd.read_sql_query('SELECT * FROM job_main', con)

con.close()

In [4]:
# EDA focusing on Marketing Executive
df_ME = df[df['job_title']=='Marketing Executive']

df_ME.head()

,scrapedid,webid,companyid,date_scraped,job_title,date_posted,career_level,year_experience_min,year_experience_max,currency,salary_min,salary_max,remote,source,last_seen,date_expired
11,221,2,223.0,2022-03-29 09:00:03.610569,Marketing Executive,2022-03-17 19:01:13.000000,Junior Executive,3.0,NaN,MYR,1500.0,2000.0,NaN,None,2022-03-29 09:00:03.610569,None
18,259,2,261.0,2022-03-29 09:00:03.610569,Marketing Executive,2022-03-14 07:40:52.000000,Junior Executive,1.0,NaN,MYR,3000.0,4000.0,NaN,None,2022-03-29 09:00:03.610569,None
19,261,2,263.0,2022-03-29 09:00:03.610569,Marketing Executive,2022-03-19 01:17:45.000000,Junior Executive,1.0,NaN,MYR,NaN,NaN,NaN,None,2022-03-29 09:00:03.610569,None
21,293,2,295.0,2022-03-29 09:00:03.610569,Marketing Executive,2022-03-09 03:07:27.000000,Entry Level,1.0,NaN,MYR,2800.0,3500.0,NaN,None,2022-03-29 09:00:03.610569,None
23,323,2,325.0,2022-03-29 09:00:03.610569,Marketing Executive,2022-03-10 19:30:55.000000,Senior Executive,1.0,NaN,MYR,NaN,NaN,NaN,None,2022-03-29 09:00:03.610569,None

In [5]:
df_ME.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9211 entries, 11 to 59970
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   scrapedid            9211 non-null   int64
 1   webid                9211 non-null   int64
 2   companyid            9211 non-null   float64
 3   date_scraped         9211 non-null   object
 4   job_title            9211 non-null   object
 5   date_posted          9211 non-null   object
 6   career_level         6653 non-null   object
 7   year_experience_min  3786 non-null   float64
 8   year_experience_max  103 non-null    float64
 9   currency             9014 non-null   object
 10  salary_min           4552 non-null   float64
 11  salary_max           4551 non-null   float64
 12  remote               751 non-null    float64
 13  source               0 non-null      object
 14  last_seen            9211 non-null   object
 15  date_expired         0 non-null      object
dtypes: float64(6), int64(2), object(8)
memory usage: 1.2+ MB

In [6]:
# Select the necessary column
df_ME = df_ME.iloc[:, [0,1,2,4,6,7,9,10,11]]

In [7]:
# Drop the null values from currency and career_level column
df_ME.dropna(subset=['currency', 'career_level'], inplace = True)

In [8]:
# Drop the not specified carrer_level
df_ME.drop(df_ME[df_ME['career_level'] == 'Not Specified'].index, inplace=True)

In [9]:
df_ME.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4138 entries, 11 to 58378
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   scrapedid            4138 non-null   int64
 1   webid                4138 non-null   int64
 2   companyid            4138 non-null   float64
 3   job_title            4138 non-null   object
 4   career_level         4138 non-null   object
 5   year_experience_min  3720 non-null   float64
 6   currency             4138 non-null   object
 7   salary_min           2517 non-null   float64
 8   salary_max           2519 non-null   float64
dtypes: float64(4), int64(2), object(3)
memory usage: 323.3+ KB

In [10]:
# Fill year_experience_min null values with median
df_ME['year_experience_min'].fillna(df_ME['year_experience_min'].median(), inplace = True)

In [11]:
df_ME.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4138 entries, 11 to 58378
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   scrapedid            4138 non-null   int64
 1   webid                4138 non-null   int64
 2   companyid            4138 non-null   float64
 3   job_title            4138 non-null   object
 4   career_level         4138 non-null   object
 5   year_experience_min  4138 non-null   float64
 6   currency             4138 non-null   object
 7   salary_min           2517 non-null   float64
 8   salary_max           2519 non-null   float64
dtypes: float64(4), int64(2), object(3)
memory usage: 323.3+ KB

In [12]:
# Replace RM currency to MYR
df_ME['currency'].replace(to_replace='RM', value='MYR', inplace=True)

In [13]:
# Creating Dataframe for MYR, IDR, and SGD currency
df_ME_MYR = df_ME[df_ME['currency']=='MYR']
df_ME_IDR = df_ME[df_ME['currency']=='IDR']
df_ME_SGD = df_ME[df_ME['currency']=='SGD']

In [14]:
df_ME_IDR.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 669 entries, 903 to 58280
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   scrapedid            669 non-null    int64
 1   webid                669 non-null    int64
 2   companyid            669 non-null    float64
 3   job_title            669 non-null    object
 4   career_level         669 non-null    object
 5   year_experience_min  669 non-null    float64
 6   currency             669 non-null    object
 7   salary_min           213 non-null    float64
 8   salary_max           214 non-null    float64
dtypes: float64(4), int64(2), object(3)
memory usage: 52.3+ KB

In [15]:
# Fill null values in salary_min and salary_max column with median
df_ME_IDR['salary_min'].fillna(df_ME_IDR['salary_min'].median(), inplace = True)
df_ME_IDR['salary_max'].fillna(df_ME_IDR['salary_max'].median(), inplace = True)

<ipython-input-15-07c6f949b8f3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ME_IDR['salary_min'].fillna(df_ME_IDR['salary_min'].median(), inplace = True)
<ipython-input-15-07c6f949b8f3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ME_IDR['salary_max'].fillna(df_ME_IDR['salary_max'].median(), inplace = True)

In [16]:
df_ME_IDR.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 669 entries, 903 to 58280
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   scrapedid            669 non-null    int64
 1   webid                669 non-null    int64
 2   companyid            669 non-null    float64
 3   job_title            669 non-null    object
 4   career_level         669 non-null    object
 5   year_experience_min  669 non-null    float64
 6   currency             669 non-null    object
 7   salary_min           669 non-null    float64
 8   salary_max           669 non-null    float64
dtypes: float64(4), int64(2), object(3)
memory usage: 52.3+ KB

In [17]:
df_ME_SGD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1406 entries, 68 to 58378
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   scrapedid            1406 non-null   int64
 1   webid                1406 non-null   int64
 2   companyid            1406 non-null   float64
 3   job_title            1406 non-null   object
 4   career_level         1406 non-null   object
 5   year_experience_min  1406 non-null   float64
 6   currency             1406 non-null   object
 7   salary_min           847 non-null    float64
 8   salary_max           847 non-null    float64
dtypes: float64(4), int64(2), object(3)
memory usage: 109.8+ KB

In [18]:
# Fill null values in salary_min and salary_max column with median
df_ME_SGD['salary_min'].fillna(df_ME_SGD['salary_min'].median(), inplace = True)
df_ME_SGD['salary_max'].fillna(df_ME_SGD['salary_max'].median(), inplace = True)

<ipython-input-18-e4f4ec99e22b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ME_SGD['salary_min'].fillna(df_ME_SGD['salary_min'].median(), inplace = True)
<ipython-input-18-e4f4ec99e22b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ME_SGD['salary_max'].fillna(df_ME_SGD['salary_max'].median(), inplace = True)

In [19]:
df_ME_SGD.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1406 entries, 68 to 58378
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   scrapedid            1406 non-null   int64
 1   webid                1406 non-null   int64
 2   companyid            1406 non-null   float64
 3   job_title            1406 non-null   object
 4   career_level         1406 non-null   object
 5   year_experience_min  1406 non-null   float64
 6   currency             1406 non-null   object
 7   salary_min           1406 non-null   float64
 8   salary_max           1406 non-null   float64
dtypes: float64(4), int64(2), object(3)
memory usage: 109.8+ KB

In [20]:
df_ME_MYR.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2063 entries, 11 to 58319
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   scrapedid            2063 non-null   int64
 1   webid                2063 non-null   int64
 2   companyid            2063 non-null   float64
 3   job_title            2063 non-null   object
 4   career_level         2063 non-null   object
 5   year_experience_min  2063 non-null   float64
 6   currency             2063 non-null   object
 7   salary_min           1457 non-null   float64
 8   salary_max           1458 non-null   float64
dtypes: float64(4), int64(2), object(3)
memory usage: 161.2+ KB

In [21]:
# Fill null values in salary_min and salary_max column with median
df_ME_MYR['salary_min'].fillna(df_ME_MYR['salary_min'].median(), inplace = True)
df_ME_MYR['salary_max'].fillna(df_ME_MYR['salary_max'].median(), inplace = True)

<ipython-input-21-d1e0e17b87c2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ME_MYR['salary_min'].fillna(df_ME_MYR['salary_min'].median(), inplace = True)
<ipython-input-21-d1e0e17b87c2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ME_MYR['salary_max'].fillna(df_ME_MYR['salary_max'].median(), inplace = True)

In [22]:
df_ME_MYR.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2063 entries, 11 to 58319
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   scrapedid            2063 non-null   int64
 1   webid                2063 non-null   int64
 2   companyid            2063 non-null   float64
 3   job_title            2063 non-null   object
 4   career_level         2063 non-null   object
 5   year_experience_min  2063 non-null   float64
 6   currency             2063 non-null   object
 7   salary_min           2063 non-null   float64
 8   salary_max           2063 non-null   float64
dtypes: float64(4), int64(2), object(3)
memory usage: 161.2+ KB

In [23]:
# Extract dataframe into CSV
df_ME_MYR.to_csv('/content/DA-Assignment-2024/Marketing Executive_MYR.csv', index=True)
df_ME_IDR.to_csv('/content/DA-Assignment-2024/Marketing Executive_IDR.csv', index=True)
df_ME_SGD.to_csv('/content/DA-Assignment-2024/Marketing Executive_SGD.csv', index=True)